@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white
  }}

.nav-underline::after{
  @apply content-[''] bg-aeronex h-[2px] w-[0%] left-0 bottom-0 absolute duration-300
}

.nav-underline:hover::after{
  @apply w-[100%]
}

.dropdown-menu{
  @apply  fixed top-[70px] left-0 w-full h-[0%] overflow-hidden ease-out duration-300
}

.dropdown-menu.open{
  @apply h-auto bg-white border-t border-gray-300 z-10 border-b border-b-aeronex
}

.item-carousel{
  @apply pl-4 lg:pl-8
}



.custom-button-group {
  @apply w-[100%] flex items-center justify-start pl-8 pt-6 xl:pl-[550px] xl:justify-center

}

.slide-down {
  transition: opacity  0.3s ease-out;
  opacity: 0;
}
.slide-down.active {
  opacity: 1;
}

.slide-up {
  transition: opacity  0.3s ease-out;
  opacity: 1;
}
.slide-up.active {
  opacity: 0;
}